<nav class="navbar">
    <h1 class="display-4">Welcome to U-nit!</h1>
    <a href="/Logout" class="aButton btn btn-lg btn-danger m-3">Logout</a>
    </div>
</nav>
<div class="successText">
    <h1>You have successfully registered with U-nit-E!</h1>
    <hr>
    <h3>You are currently the only resident of this building using the site. You have been assigned as the administrator of this building.</h3>
    <a href="/dashboard" class="addButton btn btn-success btn-large">Take me to the dashboard</a>
</div>
