@model Building
<nav class="navbar">
    <h1 class="display-4">Welcome to U-nit!</h1>
    <a href="/Logout" class="aButton btn btn-lg btn-danger m-3">Logout</a>
    </div>
</nav>
<div class="buildInfo text-center">
    <h1>Enter your Building Information: </h1>
    <hr>
    <form asp-controller="Home" asp-action="BuildingCheck" method="post">
        <div class="form-group">
            <label asp-for="BuildingName"></label>
            <input asp-for="BuildingName" class="form-control">
            <span asp-validation-for="BuildingName" class="alert-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AddressLine1"></label>
            <input asp-for="AddressLine1" class="form-control">
            <span asp-validation-for="AddressLine1" class="alert-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="City"></label>
            <input asp-for="City" class="form-control">
            <span asp-validation-for="City" class="alert-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="State"></label>
            <input asp-for="State" class="form-control">
            <span asp-validation-for="State" class="alert-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ZipCode"></label>
            <input asp-for="ZipCode" class="form-control">
            <span asp-validation-for="ZipCode" class="alert-danger"></span>
        </div>
        <input type="submit" class="addButton btn btn-success btn-large">
    </form>
</div>