@{
    ViewData["Title"] = "Home Page";
}
<nav class="navbar">
    <h1 class="display-2">Welcome to U-nit!</h1>
</nav>
<div class="wholePage">
    <div class="text-center">
        <div class="canvas">
            <partial name="RegisterPartial"/>
            <partial name="LoginPartial"/>
        </div>
    </div>
</div>
