<nav class="navbar">
    <h1 class="display-4">Welcome to U-nit!</h1>
    <a href="/Logout" class="aButton btn btn-lg btn-danger m-3">Logout</a>
    </div>
</nav>
<div class="successText">
    <h1>You have been successfully registered!</h1>
    <h3>@ViewBag.BuildingAdmin.FirstName @ViewBag.BuildingAdmin.LastName in apartment @ViewBag.BuildingAdmin.AptNumber is the current Administrator for this building. They will have to approve your residence before being able to use the site.</h3>
</div>

